.section__paragraphAddNewTask {
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  background-color: white;
  margin: 2px 0;
}

.form {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding: 20px;
}

.div__button {
  background-color: teal;
  color: white;
  height: 40px;
  border: none;
}
.section__newTaks {
  box-shadow: 0 0 5px #ddd;
}
